<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculadorafisicafinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculadoraFisicaFinal">
        <activity
            android:name=".IntensidadCampo"
            android:label="@string/IntCamp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Refraccion"
            android:label="@string/Refraccion"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Resistencia"
            android:label="@string/Resist"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Reflexion"
            android:label="@string/Reflexion"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.CalculadoraFisicaFinalNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>